

.contact{
	padding-top: 75px;
	overflow-x: hidden;
}
.contactLeftItem{
	padding: 50px 0;
}
.contactLeftItem .txt30{
	text-transform: uppercase;
	margin-bottom: 20px;
}





.contactRight{
	
	position: relative;
}
.contactHide{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
	transform: translate(0 , 120px);
}
.contactHide .contactLeftItem{
	padding: 0;
}
.contactHide .contactLeftItem .contactLeftItem .txt30{
	text-transform: uppercase;
	margin-bottom: 5px;
}
.contactRightMap{
	position: relative;
	width: 455px;
}
.contactRightMap img{
	height: 100%;
}
.contactRightMess{
	position: absolute;
	transition: 1s;
	transform: scale(0) translate(-100% ,0);
	overflow: hidden;
	height: 83px;
    width: 312px;
}
.contactRightMess img{
	width: 100%;
	height: 100%;
}
.contactRightMess .txt24{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.contact01{
	top: 5%;
    left: 45%;
}
.contact02{
	top: 43%;
    left: 60%;
}
.contact03{
	top: 75%;
    left: 48%;
}

.contactForm{
	margin-bottom: 100px;
	margin-top: 125px;
}
.contactFormLeftImg img{
	width: 100%;
	
}
.contactFormLeft{
	position: relative;
	margin-top: 14px;
	margin-bottom: 200px;
}
.contactFormLeftContent{
	position: absolute;
	bottom: -170px;
	left: 20px;
}
.contactFormLeftContent img{
	margin-bottom: 20px;
}

.contactFormRight .txt36{
	text-transform: uppercase;
	margin-bottom: 50px;
}
.contactFormRight form input[type=text]{
	display: block;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin-bottom: 25px;
}
.contactFormRight form textarea{
	display: block;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin-bottom: 25px;
}
.contactFormRight form input[type=submit]{
	padding: 10px 60px;
	background: #f58220;
	color: #fff;
	border: 0;
	font-size: 24px;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}



@media screen and (max-width: 1200px){
	.contactRightMap{
		transform: scale(0.8) translate(-60px, 0);
	}
}

@media screen and (max-width: 767px){
	.contactLeft{
		display: none;
	}
	.contactRightMap{
		transform: scale(0.6) translate(-125px, -350px);
	}
	.contactHide{
		display: block;
	}
}
@media screen and (max-width: 530px){
	.contactRightMap{
		transform: scale(0.5) translate(-180px, -550px);
	}
}

@media screen and (max-width: 370px){
	.contactRightMap{
		transform: scale(0.5) translate(-240px, -550px);
	}
}
