

.master{
	padding-top: 0;
	overflow: hidden;
}
.homeBig{
	position: absolute;
}
.home{
	position: relative;
	width: 100%;

}
.home1{

}
.home1Main{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*transition: 0.8s;*/
}
.home1 .home1Content{
	position: absolute;
	width: 430px;
	left: 20%;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
}
.home1 .home1Content .txt60{
	font-weight: bold;
}
.home1 .home1Content .txt16{
	font-size: 16px;

}
.home1 .home1Img{
	position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
     z-index: 0; 
}
.home1 .home1Img img{
	height: 100%;
}




.home2{
	/*padding: 150px 0;*/
}
.home2Main{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	/*top: 50%;*/
	/*transform: translate(0, -50%);*/
	padding: 8% 0;
	/*transition: 0.8s;*/
}
.home2Name{
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	padding: 0 0 30px;
}
.home2Item{
	position: relative;
	display: block;

}
.home2Item img{
	width: 100%;

}
.home2Item .home2ItemTitle{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
}
.home2Item .home2ItemHide{
	position: absolute;
	background: #f58320;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	display: none;
}
.home2Item:hover .home2ItemHide{
	display: block;
}



/*.home3Big{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.home3Main{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 60%;
	transform: translate(-50%, -50%);
	display: flex;
}
.home3Item{
	position: relative;
	overflow: hidden;
	flex: 1;
}
.home3ItemImg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	transition: 1s;

}
.home3ItemImg img{
	width: 100%;
	height: 100%;
}
a.home3ItemContent{
	position: absolute;
	top: 50%;
    left: 0;
    padding: 65% 60px;
	width: 100%;
	transform: translate(0, -50%);
	color: #494949;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	display: block;
}
.home3ItemContentNum{
	font-size: 115px;
	position: relative;
	display: inline-block;
}
.home3ItemContentNumUnder{
	position: absolute;
    bottom: 15px;
    right: -45px;
}
.home3ItemContentText{
	font-size: 16px;
}
.home3Item:hover .home3ItemImg{
	opacity: 1 !important;
}
.home3Item:hover a.home3ItemContent{
	color: #f58320;
}*/



.home3{
	position: relative;
}
.home3Left{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.home3Img{
	overflow: hidden;
}
.home3ImgLine{
	transition: 1s;
}
.home3ImgItem{
	width: 100%;
	overflow: hidden;
}
.home3ImgItem img{
	height: 100%;
}


.home3Right{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.home3RightMain{
	position: absolute;
	width: 340px;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}
.home3Title{
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	color: #f58320;
	text-transform: uppercase;
	margin-bottom: 50px;

}
.home3RightNameItem{
	height: 300px;
}
.home3CreatedAt{
	font-size: 12px;
	color: #dfdfdf;
	text-transform: uppercase;
}
.home3RightName{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.home3RightNameLine{
	/*position: absolute;
	width: 100%;
	top: 0;
	left: 0;*/
	transition: 1s;

}
.home3RightNameMain{
	width: 100%;
	font-size: 36px;
	font-weight: bold;
	color: #000;

}
.home3RightLink{
	display: none;
}

a.home3Link{
	font-size: 16px;
	font-weight: bold;
	color: #f58320;
	display: block;
}

.btnSlide{
	display: flex;
    width: 180px;
    position: absolute;
    right: 64px;
    top: 58%;
    transform: rotate(-90deg);
}
.btnSlideItem{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #969696;
	padding: 10px;
	cursor: pointer;
}
.btnSlideItem.up{
	transform: rotate(90deg);
}
.btnSlideItem.down{
	transform: rotate(-90deg);
}
.btnSlideItem img{
	width: 100%;
}

.btnSlideMain{
	height: 50px;
	flex: auto;
	display: flex;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color:  #969696;
	padding: 0 10px;
	overflow: hidden;
}

.btnSlideMainLine{
	width: 30px;
    transition: 1s;
    
}
.btnSlideMainCount{

	width: 30px;
}





.home4Main{
	width: 100%;
    height: 100%;
}
.home4Content{
	position: absolute;
	width: 25%;
	top: 50%;
	transform: translate(0 , -50%);
	padding-left: 100px;
	padding-right: 20px;
}
.home4ContentTitle{
	font-weight: bold;
	font-size: 36px;
	color: #f58320;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.home4ContentText{
	font-size: 16px;
}

.home4MainContent{
	position: absolute;
    width: 100%;
    top: -160px;
    left: 0px;
    transform: translate(0 , 50%);
    padding-right: 75px;
    display: none;
}
.home4MainContentTitle{
	font-weight: bold;
	font-size: 36px;
	color: #f58320;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.home4MainContentText{
	font-size: 16px;
}
.home4Main02ContentTitle{
	display: block;
}
.home4MainSmaill{
	position: absolute;
	width: 75%;
	right: 0;
	top: 50%;
	transform: translate(0 ,-50%);
	padding-top: 30px;
	transition: 0.3s;
}
.home4MainItem{
	padding: 20px;
}
.home4MainLine{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	transition: 1s;
}
.home4MainLineItem{
	display: inline-block;
	flex: 1;
	box-shadow: 5px 5px 20px #0005;

}
/*.home4MainLineItemImg{
	height: 211px;
}*/
.home4MainLineItemImg img{
	/*height: 100%;*/
	width: 100%;
}
.home4MainLineItemContent{
	height: 100px;
	padding: 40px 0;
	text-align: center;
	background: #fff;
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
}

.home4MainNum{
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}
.home4MainNumItem{
	cursor: pointer;
}

.home4Main02{
	display: none;
}
.home4Main02ContentTitle{
	display: none;
}
.home4MainLineItemImg{
	height: 214px;
	/*width: 360px;*/
}
.home4MainLineItemImg img{
	height: 100%;
	width: 100%;
}

/*.home5{
	padding-top: 75px;
	overflow-x: hidden;
}*/
.home5Main{
	width: 100%;
	height: 100%;
}
.home5Left{
	position: absolute;
    top: 50%;
    left: 15%;
    
    width: 40%;
    transform: translate(0px , -50%);


}
.home5LeftItem{
	padding: 0 0 10px;
}
.home5LeftItem .txt30{
	text-transform: uppercase;
	margin-bottom: 20px;
}




.home5Right{
	position: absolute;
	height: 80%;
	min-width: 300px;
	top: 10%;
	right: 20%;
}
/*.home5Hide{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
	transform: translate(0 , 120px);
}
.home5Hide .home5LeftItem{
	padding: 0;
}
.home5Hide .home5LeftItem .home5LeftItem .txt30{
	text-transform: uppercase;
	margin-bottom: 5px;
}*/
.home5RightMap{
	position: relative;
	height: 100%;
	width: 100%;

}
.home5RightMap img{
	height: 100%;
}
.home5RightMess{
	position: absolute;
	transition: 1s;
	transform: scale(0) translate(-100% ,0);
	overflow: hidden;
	height: 83px;
    width: 312px;
}
.home5RightMess img{
	width: 100%;
	height: 100%;
}
.home5RightMess .txt24{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.home501{
	top: 3%;
    left: 50%;
}
.home502{
	top: 40%;
    left: 76%;
}
.home503{
	top: 73%;
    left: 58%;
}


.btnScrollDown{
	font-weight: bold;
	position: fixed;
	width: 100%;
	height: 35px;
	cursor: pointer;
	bottom: 0;
	text-align: center;
	text-transform: uppercase;
	line-height: 10px;
	z-index: 1;

	
}
.btnScrollDown .btnScrollDownIcon{
	transform: scale(1.5);
	-webkit-animation-name: btnAnimate;
    -webkit-animation-duration: 1s;
    animation-name: btnAnimate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,1,1,1);

}
@-webkit-keyframes btnAnimate {
    0% {padding-top: 0;}
    50% {padding-top: 10px;}
    100% {padding-top: 0);}
}

/* Standard syntax */
@keyframes btnAnimate {
    0% {padding-top: 0;}
    50% {padding-top: 10px;}
    100% {padding-top: 0);}
}

.dotScroll{
	position: fixed;
	top: 50%;
	transform: translate(0px ,-50%);

}
.dotScrollItem{
	height: 15px;
	width: 15px;
	border: 1px solid #000;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;

}


@media screen and (max-width: 1024px) {
	/*.home2Main{
		padding-top: 20%;
	}*/
	.home3Main{
		width: 1440px;
		left: 0;
		transform: translate(0, -50%);
	}

}

@media screen and (max-width: 768px) {
	.master{
		height: 500%;
	}
	
	.home1 .home1Content{
		width: 55%;
		left: 10%;
	}
	.home2Item{
		position: relative;
	    display: block;
	    height: 150px;
	    overflow: hidden;
	}
	.home4Main{
		width: 90%;
	}
	.home4MainContent{
		display: block;
	}

	.home4Content{
		display: none;
	}
	.home5Left{
		left: 5%;
		width: 55%;
		z-index: 1;
	}
	.home5Right{
		position: absolute;
		height: 80%;
		top: 10%;
		right: 15% ;
		opacity: 0.6;
	}
	.home5LeftItem .txt30 {
	    text-transform: uppercase;
	    margin-bottom: 0;
	    font-size: 20px;
	}
}
@media screen and (max-width: 468px) {
	.home1 .home1Content{
		width: 96%;
		z-index: 1;
	}
	.home1 .home1Img{
		right: 50%;
		transform: translate(50%, 0);
		width: auto;
	}

	a.home3ItemContent{
		padding: 40% 30px;
	}
	.home5Left{
		left: 10%;
    	width: 85%;
	
	}
	.home5LeftItem{
		padding: 0;
	}
	.home5Right{
		opacity: 0.5;
		left: 10%;
	}
	.home5LeftItem .txt30 {
	    text-transform: uppercase;
	    margin-bottom: 0;
	    font-size: 20px;
	}
	.home5LeftItem .txt16{
		font-size: 14px;
	}
	.home4MainItem {
	    padding: 2px;
	}
	/*.home4MainLineItemContent{
		height: 58px;
		overflow: hidden;
		padding: 10px 5px;
		text-align: center;
	}*/
	.home4Content{
		display: none;
	}
	.home4MainSmaill{
		display: none;
	}

	.home4Main02{
		display: block;
	    width: 100%;
	    height: 335px;
	    position: absolute;
	    overflow-x: scroll;
	    top: 170px;
	    /*transform: translate(0px, -50%);*/
	}
	.home4Main02Main{
		position: absolute;
	    top: 0;
	    left: 0;
	    width: auto;
	    display: flex;
	}
	.home4Main02Item{
		flex: 1;
		width: 320px;
		margin-right: 20px;
	}
	.home4Main02ContentTitle{
		position: absolute;
	    top: 100px;
	    right: 0;
	    height: auto;
	    width: 100%;
	    text-align: center;

	    font-weight: bold;
		font-size: 36px;
		color: #f58320;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		display: block;
	}
}

@media screen and (max-width: 350px) {
	.home1 .home1Content {
	    width: 85%;
	}
	.home1 .home1Content .txt60 {
	    font-weight: bold;
	    font-size: 46px;
	}
	.home2Name {
	     padding: 0; 
	}
	.home2Item {
	    height: 96px;
	}
	a.home3ItemContent {
	    padding: 40% 25px;
	}
	.home3ItemContentNum {
	    font-size: 70px;
	    position: relative;
	    display: inline-block;
	}
	.home3ItemContentNumUnder {
	    position: absolute;
	    bottom: 9px;
	    right: -25px;
	}

	.home4MainLineItemContent {
	    height: 65px;
	    padding: 20px 0;
	}
	.home4Main02ContentTitle{
		top:  75px;
	}
	.home4Main02 {
	    top: 140px;
	}
	.home5LeftItem .txt30 {
	    text-transform: uppercase;
	    margin-bottom: 0;
	    font-size: 18px;
	}
	.home5LeftItem .txt16 {
	    font-size: 12px;
	}
}


	 
