

.imageHeader{
	margin-top: 50px;
}
.imageHeaderImg img{
	width: 100%;
}


.contentHeader{
	padding: 75px 20px;
	position: relative;
}
.contentHeader .txt60{
	position: absolute;
	top: -42px;
	left: 30px;
}
.contentHeaderLeft{
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.contentHeaderLeft ol{
	padding-left: 15px;
}
.contentHeaderLeft ol li{
	padding: 10px 0;
}
.contentHeaderRight.txt16{
	padding: 10px 0;
}

.content01Right{
	position: relative;
	padding-top: 135px;
}
.content01Right .txt145{
	position: absolute;
    top: -60px;
    left: -65px;
}

.content01Left img{
	width: 100%;
	height: 482px;
}
.txt36{
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color: #676767;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.content02{
	margin-top: 145px;
}
.content02Left{
	position: relative;
	padding-top: 100px;
}
.content02Left .txt145{
	z-index: 1;
    position: absolute;
    top: -18px;
    right: -58px;
}
.content02Left .txt36{
	text-align: right;
	padding-right: 105px;
}
.content02Right img{
	width: 100%;
	height: 402px;
}


.content03{
	margin-top: 145px;

}
.content03Left img{
	width: 100%;
	height: 412px;
}

.content03Right{
	position: relative;
	padding-top: 130px;

}

.content03Right .txt145{
	position: absolute;
    top: 10px;
    left: -64px;
}
.content03Right .txt36{
	padding-left: 90px;
}


.content04{
	margin-top: 145px;
	margin-bottom: 180px;
}

.album{
	width: 930px;
	height: 690px;
	position: relative;
}
.albumItem{
	position: absolute;
	overflow:hidden;
}
.albumItemImg{
	
	height: 100%;
}
.albumItemImg img{
	width: 100%;
	height: 100%;
}
.albumItemContent{
	position: absolute;
	width: 100%;
	height: 68px;
	background: #0004;
	bottom: -70px;
	left: 0;
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
	color: #fff;
	transition: 0.5s;
}
.albumItem:hover .albumItemContent{
	bottom: 0;
}
.album1{
	width: 450px;
	height: 210px;
	top: 0;
	left: 0;
}
.album2{
	width: 210px;
	height: 210px;
	top: 0;
	left: 480px;
}
.album3{
	width: 210px;
	height: 450px;
	top: 0;
	left: 720px;
}
.album4{
	width: 210px;
	height: 210px;
	top: 240px;
	left: 0;
}
.album5{
	width: 450px;
	height: 210px;
	top: 240px;
	left: 240px;
}
.album6{
	width: 210px;
	height: 210px;
	top: 480px;
	left: 0;
}
.album7{
	width: 210px;
	height: 210px;
	top: 480px;
	left: 240px;
}
.album8{
	width: 450px;
	height: 210px;
	top: 480px;
	left: 480px;
}

.album .albumImg{
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.album{
		height: 930px;
		width: 690px;
		margin: auto;
	}
	.album3{
		top: 480px;
    	left: 480px;
	}
	.album8{
		top: 720px;
		left: 0;
	}
	.content01Left img{
		height: 360px;
	}
	.content02Right img{
		height: 351px;
	}
	.content03Left img{
		height: 360px;
	}

}
@media screen and (max-width: 992px) {
	.content01Right{
		padding-top: 0;
	}
	.content01Right .txt145 {
	    position: absolute;
	    top: -128px;
	    left: -123px;
	}
	.content01Right .txt36 {
	    margin-bottom: 0;
	}
	.content02 {
	    margin-top: 142px;
	}
	.content02Left{
		padding-top: 0;
	}
	.content02Left .txt145 {
	    top: -128px;
	    right: -147px;
	}
	.content02Left .txt36 {
	     padding-right: 0; 
	}
	.content03Right{
		padding-top: 0;
	}
	.content03Right .txt145 {
	    
	    top: -105px;
	    left: -64px;
	}
	.content04{
		margin-top: 0;
	}
	.content04Left .txt145{
		display: inline-block;
	}
	.content04Left .txt36{
		display: inline-block;
	}

	.content01Left img{
		height: 275px;
	}
	.content01Right .txt16{
		height: 180px;
		overflow: auto;
	}
	.content01Right .txt16::-webkit-scrollbar {
		width: 0px;
	}
	.content02Right img{
		height: 268px;
	}
	.content02Left .txt16{
		height: 195px;
		overflow: auto;
	}
	.content02Left .txt16::-webkit-scrollbar {
		width: 0px;
	}

	.content03Left img{
		height: 275px;
	}
	.content03Right .txt16{
		height: 195px;
		overflow: auto;
	}
	.content03Right .txt16::-webkit-scrollbar {
		width: 0px;
	}
}
@media screen and (max-width: 768px) {
	.content01Right .txt145{
		top: -128px;
    	left: 286px;
	}
	.content01Right .txt16{
		height: auto;
		
	}
	.content02 {
	    margin-top: 120px;
	}
	.content02Left .txt145 {
	    top: -128px;
	    right: 200px;
	}

	.content03Right .txt36 {
	     padding-left: 0; 
	}
	.content03Right .txt145 {
	    left: 150px;
	}
	.content01Left img{
		height: auto;
	}
	.content02Right img{
		height: auto;
	}
	.content03Left img{
		height: auto;
	}
}
@media screen and (max-width: 718px) {
	.album{
		width: 510px;
		height: 380px;
		position: relative;
	}
	.album1{
		width: 250px;
		height: 120px;
		top: 0;
		left: 0;
	}
	.album2{
		width: 120px;
		height: 120px;
		top: 0;
		left: 260px;
	}
	.album3{
		width: 120px;
		height: 250px;
		top: 0;
		left: 390px;
	}
	.album4{
		width: 120px;
		height: 120px;
		top: 130px;
		left: 0;
	}
	.album5{
		width: 250px;
		height: 120px;
		top: 130px;
		left: 130px;
	}
	.album6{
		width: 120px;
		height: 120px;
		top: 260px;
		left: 0;
	}
	.album7{
		width: 120px;
		height: 120px;
		top: 260px;
		left: 130px;
	}
	.album8{
		width: 250px;
		height: 120px;
		top: 260px;
		left: 260px;
	}


}
@media screen and (max-width: 539px) {
	.album{
		width: 380px;
		height: 510px;
		position: relative;
	}
	.album3{
		
		top: 260px;
		left: 260px;
	}
	.album8{
		width: 250px;
		height: 120px;
		top: 390px;
		left: 0px;
	}
}
@media screen and (max-width: 485px){
	.contentHeader .txt60 {
	    top: -78px;
	}
	.txt145{
		display: none;
	}
}
@media screen and (max-width: 405px){
	.album{
		width: 250px;
		height: 770px;
		position: relative;
	}
	.album5{
		top: 130px;
		left: 0px;
	}
	.album3{
		top: 520px;
		left: 130px;
	}
	.album2{
		top: 520px;
		left: 0px;
	}
	.album4{
		top: 650px;
		left: 0px;
	}
	.content04Left .txt145 {
	    display: none;
	}
}
