body{
	background: #f58220a8;
}
.loginBody{
	background: #fff;
	width: 30%;
	margin: 200px auto;
	padding:30px;
	box-shadow: 10px 10px 5px #885326;
	border-radius: 20px;
}
.loginHeader img{
	width: 100%;
}

@media screen and (max-width: 800px) {
  	.loginBody{
		width: 50%;
		margin: 100px auto;
		padding:30px;
		
	}
}
@media screen and (max-width: 500px) {
  	.loginBody{
		width: 80%;
		margin: 100px auto;
		padding:30px;
		
	}
}