body{
	background: #0f3361;
}
header{
	background: #fff;
	height: 80px;
	margin-bottom: 20px;
	position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    box-shadow: 5px 5px 10px #0005;
}
.headerLogo img{
	margin: 5px 30px;
    height: 70px;
}
.headerMenu ul{
	float: right;
}
.headerMenu ul li{
	
	height: 80px;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	
}
.headerMenu ul li:hover{
 	
	background: #f58220;
}
.headerMenu ul li:hover a{
	color: #fff;
}
.headerMenu ul li a{
	height: 80px;
	line-height: 60px;
	padding:10px 20px;
	text-decoration: none;
	color: #111;
	font-weight: bold;
	display: inline-block;
}
.headerActive{
	background: #f58220;

}
.headerActive a{
	color: #fff !important;
}
.btnLogOut{
	position: absolute;
	background: #174075;
	
	right: 0;
	top: 20px;
	z-index: 99;
	border-radius: 10px 0 0 10px;
}
.btnLogOut a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}
.btnLogOut a:hover{
	font-weight: bold;
}

.btnAccount{
	position: absolute;
	background: #f58220;
	
	right: 0;
	top: 80px;
	z-index: 99;
	border-radius: 10px 0 0 10px;
}
.btnAccount a{
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}
.btnAccount a:hover{
	font-weight: bold;
}
.btnToggle{
	position: fixed;
	display: inline-block;
	top: 20px;
    right: 10px;
    z-index: 999;

}
.btnToggle a{
	display: block;
	padding:10px 15px;
	background: #f58220;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	z-index: 999;
}
.masterContentToggle{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000000e6;
	z-index: 990
}
.masterContentToggle ul{
	margin-top: 80px;
	padding:0;
}
.masterContentToggle ul li{
	list-style: none;
	
}
.masterContentToggle ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 15px;
	border-top: 2px solid #2f2f2f91;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.masterContentToggle ul li:hover{
	background: #f58220;
}
.masterContentToggle ul li:hover a{
	color: #fff;
}


main{
	box-shadow: 10px 10px 5px #041327;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 50px;
	margin-top: 95px;
}
.mainHead{
	margin: 20px 0;
	overflow-x: auto;

}
.mainHead::-webkit-scrollbar {
    width: 3px;
}
.mainHead .nav{
	width: 700px;
}



.tableOption{
	width: 125px !important;
}
.listImg img{
	width: 150px;
}
textarea {
  	height: 300px;
}

.resp800Show{
	display: none;
}
.btnAddNew{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 9;
}
.btnAddHis{
	margin-bottom: 20px;
}
.formAddHis{
	display: none;
}
.project{
	position: relative;
}

.projectAlbum{
	position: relative;
}
.album{
	width: 930px;
	height: 690px;
	z-index: 9;
}
.albumItem{
	position: absolute;
	overflow:hidden;
}
.albumItemImg{
	
	height: 100%;
}
.albumItemImg img{
	width: 100%;
	height: 100%;
}
.albumItemContent{
	position: absolute;
	width: 100%;
	height: 68px;
	background: #0004;
	bottom: -70px;
	left: 0;
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
	color: #fff;
	transition: 0.5s;
}
.albumItem:hover .albumItemContent{
	bottom: 0;
}
.album1{
	width: 450px;
	height: 210px;
	top: 0;
	left: 0;
}
.album2{
	width: 210px;
	height: 210px;
	top: 0;
	left: 480px;
}
.album3{
	width: 210px;
	height: 450px;
	top: 0;
	left: 720px;
}
.album4{
	width: 210px;
	height: 210px;
	top: 240px;
	left: 0;
}
.album5{
	width: 450px;
	height: 210px;
	top: 240px;
	left: 240px;
}
.album6{
	width: 210px;
	height: 210px;
	top: 480px;
	left: 0;
}
.album7{
	width: 210px;
	height: 210px;
	top: 480px;
	left: 240px;
}
.album8{
	width: 450px;
	height: 210px;
	top: 480px;
	left: 480px;
}
.cssInput {
	width: 80%;
}
input[type=submit]{
	margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  	.headerMenu ul li a{
		padding:10px 10px;
	}


	.album{
		height: 930px;
		width: 690px;
		margin: auto;
	}
	.album3{
		top: 480px;
    	left: 480px;
	}
	.album8{
		top: 720px;
		left: 0;
	}
	.cssInput {
  		width: 80%;
  	}
}
@media screen and (max-width: 992px) {
	.btnAddNew {
	    top: 0;
	}
}

@media screen and (max-width: 768px) {
  	.resp800Hide{
  		display: none;
  	}
  	.resp800Show{
  		display: block;
  	}
  	.masterContentToggle{
  		display: none;
  	}
}
@media screen and (max-width: 718px) {
	.album{
		width: 510px;
		height: 380px;
		position: relative;
	}
	.album1{
		width: 250px;
		height: 120px;
		top: 0;
		left: 0;
	}
	.album2{
		width: 120px;
		height: 120px;
		top: 0;
		left: 260px;
	}
	.album3{
		width: 120px;
		height: 250px;
		top: 0;
		left: 390px;
	}
	.album4{
		width: 120px;
		height: 120px;
		top: 130px;
		left: 0;
	}
	.album5{
		width: 250px;
		height: 120px;
		top: 130px;
		left: 130px;
	}
	.album6{
		width: 120px;
		height: 120px;
		top: 260px;
		left: 0;
	}
	.album7{
		width: 120px;
		height: 120px;
		top: 260px;
		left: 130px;
	}
	.album8{
		width: 250px;
		height: 120px;
		top: 260px;
		left: 260px;
	}


}

@media screen and (max-width: 539px) {
	.album{
		width: 380px;
		height: 510px;
		position: relative;
	}
	.album3{
		
		top: 260px;
		left: 260px;
	}
	.album8{
		width: 250px;
		height: 120px;
		top: 390px;
		left: 0px;
	}

	.resp500Hide{
  		display: none;
  	}
  	.cssInput {
  		width: 100%;
  	}
}

@media screen and (max-width: 405px){
	.resp400Hide{
		display: none;
	}
	.album{
		width: 250px;
		height: 770px;
		position: relative;
	}
	.album5{
		top: 130px;
		left: 0px;
	}
	.album3{
		top: 520px;
		left: 130px;
	}
	.album2{
		top: 520px;
		left: 0px;
	}
	.album4{
		top: 650px;
		left: 0px;
	}
	.content04Left .txt145 {
	    display: none;
	}

}